---
const logos = [
  { name: 'Google', path: 'M115.39,46.71a22.25,22.25,0,0,1-44.5,0,22.25,22.25,0,0,1,44.5,0Zm-9.74,0c0-8-5.79-13.44-12.51-13.44S80.63,38.73,80.63,46.71s5.79,13.44,12.51,13.44S105.65,54.6,105.65,46.71Z' },
  { name: 'Bing', path: 'M34.93,40.94V31.53H66.64a31.18,31.18,0,0,1,.47,5.68c0,7.06-1.93,15.79-8.15,22-6.05,6.3-13.78,9.66-24,9.66C16,68.88,0,53.42,0,34.44S16,0,34.94,0a32.82,32.82,0,0,1,23.6,9.49L51.9,16.13a24,24,0,0,0-17-6.72,24.7,24.7,0,0,0-24.7,25,24.7,24.7,0,0,0,24.7,25c9,0,14.11-3.61,17.39-6.89,2.66-2.66,4.41-6.46,5.1-11.65Z' },
  { name: 'Yahoo', path: 'M163.39,46.71a22.25,22.25,0,0,1-44.5,0,22.25,22.25,0,0,1,44.5,0Zm-9.74,0c0-8-5.79-13.44-12.51-13.44s-12.51,5.46-12.51,13.44,5.79,13.44,12.51,13.44S153.65,54.6,153.65,46.71Z' },
  { name: 'DuckDuckGo', path: 'M209.39,25.87V65.69c0,16.38-9.66,23.07-21.08,23.07a21.12,21.12,0,0,1-19.66-13.07l8.48-3.53c1.51,3.61,5.21,7.87,11.17,7.87,7.31,0,11.84-4.51,11.84-13V63.84h-.34a15.1,15.1,0,0,1-11.68,5c-11.09,0-21.25-9.66-21.25-22.09S177,24.53,188.12,24.53a15.37,15.37,0,0,1,11.68,5h.34V25.88h9.25Zm-8.56,20.92c0-7.81-5.21-13.52-11.84-13.52S176.64,39,176.64,46.79,182.27,60.15,189,60.15,200.83,54.52,200.83,46.79Z' },
  { name: 'Yandex', path: 'M261.66,54l7.56,5a22.08,22.08,0,0,1-18.48,9.83c-12.6,0-22-9.74-22-22.18,0-13.19,9.49-22.18,20.92-22.18s17.14,9.16,19,14.11l1,2.52L240,53.43c2.27,4.45,5.8,6.72,10.75,6.72s8.4-2.44,10.92-6.14Zm-23.27-8,19.82-8.23c-1.09-2.77-4.37-4.7-8.23-4.7A12.17,12.17,0,0,0,238.39,46Z' },
];
---

<section class="bg-slate-800 py-16 md:py-24" aria-labelledby="trusted-by-heading">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <h2 id="trusted-by-heading" class="text-2xl md:text-3xl font-bold text-white mb-4">
      Ranking improvement
    </h2>
    <p class="text-slate-300 text-lg mb-8 max-w-2xl mx-auto">
      Reports that help you improve your presence on major search engines.
    </p>

    <div class="flex flex-wrap justify-center gap-8 md:gap-12 mt-8">
      <!-- Google -->
      <svg class="h-8 w-auto text-white opacity-70 hover:opacity-100 transition-opacity" viewBox="0 0 269.64 88.76">
        <path fill="currentColor" d="M115.39,46.71a22.25,22.25,0,0,1-44.5,0,22.25,22.25,0,0,1,44.5,0Zm-9.74,0c0-8-5.79-13.44-12.51-13.44S80.63,38.73,80.63,46.71s5.79,13.44,12.51,13.44S105.65,54.6,105.65,46.71Z"/>
        <path fill="currentColor" d="M163.39,46.71a22.25,22.25,0,0,1-44.5,0,22.25,22.25,0,0,1,44.5,0Zm-9.74,0c0-8-5.79-13.44-12.51-13.44s-12.51,5.46-12.51,13.44,5.79,13.44,12.51,13.44S153.65,54.6,153.65,46.71Z"/>
        <path fill="currentColor" d="M209.39,25.87V65.69c0,16.38-9.66,23.07-21.08,23.07a21.12,21.12,0,0,1-19.66-13.07l8.48-3.53c1.51,3.61,5.21,7.87,11.17,7.87,7.31,0,11.84-4.51,11.84-13V63.84h-.34a15.1,15.1,0,0,1-11.68,5c-11.09,0-21.25-9.66-21.25-22.09S177,24.53,188.12,24.53a15.37,15.37,0,0,1,11.68,5h.34V25.88h9.25Zm-8.56,20.92c0-7.81-5.21-13.52-11.84-13.52S176.64,39,176.64,46.79,182.27,60.15,189,60.15,200.83,54.52,200.83,46.79Z"/>
        <path fill="currentColor" d="M224.64,2.53v65h-9.5v-65Z"/>
        <path fill="currentColor" d="M261.66,54l7.56,5a22.08,22.08,0,0,1-18.48,9.83c-12.6,0-22-9.74-22-22.18,0-13.19,9.49-22.18,20.92-22.18s17.14,9.16,19,14.11l1,2.52L240,53.43c2.27,4.45,5.8,6.72,10.75,6.72s8.4-2.44,10.92-6.14Zm-23.27-8,19.82-8.23c-1.09-2.77-4.37-4.7-8.23-4.7A12.17,12.17,0,0,0,238.39,46Z"/>
        <path fill="currentColor" d="M34.93,40.94V31.53H66.64a31.18,31.18,0,0,1,.47,5.68c0,7.06-1.93,15.79-8.15,22-6.05,6.3-13.78,9.66-24,9.66C16,68.88,0,53.42,0,34.44S16,0,34.94,0a32.82,32.82,0,0,1,23.6,9.49L51.9,16.13a24,24,0,0,0-17-6.72,24.7,24.7,0,0,0-24.7,25,24.7,24.7,0,0,0,24.7,25c9,0,14.11-3.61,17.39-6.89,2.66-2.66,4.41-6.46,5.1-11.65Z"/>
      </svg>
      
      <!-- Bing -->
      <svg class="h-8 w-auto text-white opacity-70 hover:opacity-100 transition-opacity" viewBox="0 0 91.05 27.94">
        <path fill="currentColor" d="M11.35.64H0V12H11.35Z"/>
        <path fill="currentColor" d="M23.88.64H12.53V12H23.88Z"/>
        <path fill="currentColor" d="M11.35,13.17H0V24.52H11.35Z"/>
        <path fill="currentColor" d="M23.88,13.17H12.53V24.52H23.88Z"/>
        <path fill="currentColor" d="M42.54.79V11.41H40.7V3.09h0l-3.28,8.32H36.15L32.77,3.09h0v8.32H31V.79h2.65l3,7.87h.05L40,.79Z"/>
        <path fill="currentColor" d="M31,24.41V13.9h3.34a3.9,3.9,0,0,1,2.41.67,2,2,0,0,1,.89,1.73,2.53,2.53,0,0,1-.5,1.56,2.72,2.72,0,0,1-1.4.93v0a2.71,2.71,0,0,1,1.72.81,2.42,2.42,0,0,1,.66,1.76,2.65,2.65,0,0,1-1.06,2.18,4.28,4.28,0,0,1-2.69.84Z"/>
      </svg>

      <!-- Yahoo -->
      <svg class="h-8 w-auto text-white opacity-70 hover:opacity-100 transition-opacity" viewBox="0 0 1000 277.32">
        <path fill="currentColor" d="M0,67.51H59.49l34.65,88.63,35.09-88.63h57.92L99.93,277.32H41.64l23.87-55.59Z"/>
        <path fill="currentColor" d="M247.5,64c-44.7,0-73,40.09-73,80,0,44.93,31,80.55,72.11,80.55,30.68,0,42.25-18.7,42.25-18.7V220.4h51.89V67.51H288.9v13.9S276,64,247.5,64Z"/>
        <path fill="currentColor" d="M358.66,220.4V0h54.27V81.94S425.82,64,452.82,64c33,0,52.38,24.61,52.38,59.77V220.4H451.32V137c0-11.9-5.67-23.4-18.51-23.4-13.07,0-19.88,11.67-19.88,23.4V220.4Z"/>
        <path fill="currentColor" d="M597.73,64c-51.19,0-81.67,38.93-81.67,80.63,0,47.46,36.91,79.91,81.87,79.91,43.57,0,81.7-31,81.7-79.11C679.63,92.76,639.71,64,597.73,64Z"/>
        <path fill="currentColor" d="M770.05,64c-51.19,0-81.67,38.93-81.67,80.63,0,47.46,36.91,79.91,81.86,79.91,43.58,0,81.71-31,81.71-79.11C852,92.76,812,64,770.05,64Z"/>
      </svg>

      <!-- DuckDuckGo -->
      <svg class="h-8 w-auto text-white opacity-70 hover:opacity-100 transition-opacity" viewBox="0 0 697.4 167.92">
        <path fill="currentColor" d="M639.84,125.05l-24.13,40.49h-28.9l37.74-62.41-36.3-57.4h32l22.93,36.2,20.54-36.2h28.42l-33.91,58.12,39.17,61.69h-32Z"/>
        <path fill="currentColor" d="M511.82,94.8h39.65V92.42c0-15-4.3-26.68-18.39-26.68-13.62,0-20.54,10-21.26,29.06Z"/>
        <path fill="currentColor" d="M388.58,106.47c0,27.15,7.65,39.06,23.17,39.06,16,0,24.12-12.15,24.12-40,0-27.63-7.64-39.78-22.93-39.78-16.24,0-24.36,12.38-24.36,40.73Z"/>
        <path fill="currentColor" d="M244.8,165.54V45.73h27.71l.72,10h1.43c5.73-5.71,15.76-11.9,32.72-11.9,23.17,0,32.72,10.48,32.72,34.29v87.42H311.68V81c0-9-4.54-13.34-14.57-13.34-10.27,0-18.63,5.48-23.88,11.91Z"/>
        <path fill="currentColor" d="M55.89,165.54V148.86c0-22.62-2.63-33.82-11.71-53.35L0,0H30.57l37.5,81.7c11,23.82,15.76,36.2,15.76,63.59v20.25Z"/>
        <path fill="currentColor" d="M73.8,80,108.67,0h29.38L102.7,80Z"/>
      </svg>

      <!-- Yandex -->
      <svg class="h-8 w-auto text-white opacity-70 hover:opacity-100 transition-opacity" viewBox="0 0 106.4 34.21">
        <path fill="currentColor" d="M48.37,10.57c2.05,0,3.7-2.37,3.7-5.29S50.41,0,48.37,0s-3.72,2.36-3.72,5.28S46.31,10.57,48.37,10.57Z"/>
        <path fill="currentColor" d="M41.46,18h0c3.72-.8,3.2-5.24,3.1-6.22-.18-1.5-1.94-4.11-4.33-3.9-3,.26-3.45,4.61-3.45,4.61C36.37,14.54,37.75,18.82,41.46,18Z"/>
        <path fill="currentColor" d="M57.21,10.91h0c2.75.36,4.51-2.57,4.86-4.8A5,5,0,0,0,58.72.88c-1.95-.45-4.39,2.67-4.6,4.7C53.85,8.08,54.47,10.55,57.21,10.91Z"/>
        <path fill="currentColor" d="M63.94,24h0a37.94,37.94,0,0,1-6.73-6.84c-3.36-5.23-8.14-3.1-9.73-.44a22.29,22.29,0,0,1-4.42,4.79c-.36.44-5.13,3-4.07,7.73s4.78,4.61,4.78,4.61a20.87,20.87,0,0,0,5.92-.44,12.65,12.65,0,0,1,5.93.17s7.43,2.5,9.46-2.3S63.94,24,63.94,24Z"/>
        <path fill="currentColor" d="M68.09,14.65h0c0-1.07-.88-4.27-4.15-4.27s-3.72,3-3.72,5.16.17,4.88,4.25,4.8S68.09,15.72,68.09,14.65Z"/>
        <path fill="currentColor" d="M86.71,18.8V16.21H69.63l0,2.63H77l-.7,1.57H70v13H84.85a1.38,1.38,0,0,0,1.41-1.57V20.42H80l.55-1.6h6.15Z"/>
      </svg>
    </div>
  </div>
</section>